html {
	background-color: #000000;
	text-align: center;
	padding: 5% 20% 5% 20%;
}
a {
	color: #4078c0;
}
/*==========================================================*/
#Rim {
	padding: 20px;
	border: 1px solid #fff;
	border-radius: 10px;
	/*text-shadow: 2px 2px 3px white;*/
}
header {
	font: 10px sans-serif,sans-serif;
	color: #ffffff;
}
header > pre {
	font-size: 3px;
}
#Button {
	background: linear-gradient(to bottom, #000, #ff0000);
	border: 1px solid #000;
	border-radius: 10px;
	padding: 2px 6px 2px 6px;
	position: absolute;
	top: 1%;
	right: 1%;
}
#Status {
	font-size: 1rem;
	color: red;
}
/*==========================================================*/
#audioPlay {
  width: 70%;
  filter: invert(1); 
  border-radius: 10px;
}
#avatar {
	border: 5px solid white;
	border-radius: 50%;
	width: 120px;
}
.openTag {
	color: #fff;
	font-family: cursive,sans-serif;
	line-height: 5px;
}



/*==========================================================*/
footer {
	font-size: 1rem;
	color: #ffffff;	
	font-family: sans-serif,sans-serif;
}
.dark-mode {
  background: linear-gradient(to bottom, #000, #ff0000);
  color: white;
}
